{% extends 'base.html.twig' %}


{% block title %} Home {% endblock %}


{% block head %}

    <!-- Header -->
    <header class="masthead">
        <div class="container">



            <div class="intro-text">

                <div id="main_panel" style="float:left;">
                    <div class="main_panel-left">

                        <div id="overlay"></div>
                        <div class="containerz calendar">
                            <div class="header">
                                <div class="icon arr prev"></div>
                                <div class="month">Maj 2014</div>
                                <div class="icon arr next"></div>
                            </div>
                            <table>
                                <tr>
                                    <th>Nied</th><th>Pon</th><th>Wtor</th><th>Środ</th><th>Czwa</th><th>Piąt</th><th>Sob</th>
                                </tr>
                                <tr>
                                    <td class="notCurMonth">29</td><td class="notCurMonth">30</td>
                                    <td>1</td><td>2</td><td class="curDay">3</td><td>4</td><td>5</td>
                                </tr>
                                <tr>
                                    <td>6</td><td class="holiday">7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
                                </tr>
                                <tr>
                                    <td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td>
                                </tr>
                                <tr>
                                    <td>20</td><td>21</td><td>22</td><td class="holiday">23</td><td>24</td><td>25</td><td>26</td>
                                </tr>
                                <tr>
                                    <td>27</td><td>28</td><td>29</td><td>30</td>
                                    <td class="notCurMonth">1</td><td class="notCurMonth">2</td class="notCurMonth"><td class="notCurMonth">3</td>
                                </tr>
                            </table>
                            <button class="button-big" id="add_event">Dodaj datę</button>
                        </div>


                        <form action="" class="containerz booking" name="booking">
                            <div class="header">
                                <div>
                                    <h2>Agencja Aut</h2>
                                    <div class="icon"></div>
                                    <p>Paris, France</p>
                                </div>
                            </div>

                            <div class="dates" data-type="none">
                                <label for="checkin">Zabranie</label>
                                <div class="input-text">
                                    <input type="datetime" value="9 July, 2016" id="checkin" readonly>
                                    <div class="icon pop-up"></div>
                                </div>

                                <label for="checkout">Oddanie</label>
                                <div class="input-text">
                                    <input type="datetime" value="16 July, 2016" id="checkout" readonly>
                                    <div class="icon pop-up"></div>
                                </div>

                                <div class="div-chck">
                                    <input type="checkbox" id="check">
                                    <div class="icon input-text"></div>
                                    <label for="check" class="checkbox">Płynne daty</label>
                                </div>
                            </div>

                            <ul class="persons">
                                <li>
                                    <label>Miejsce odebrania</label>
                                    <div class="input-text">
                                        <select name="adults">
                                            <option value="1">Warszawa</option>
                                            <option value="2" selected="selected">Łódź</option>
                                            <option value="3">Gdańsk</option>
                                            <option value="4">Katowice</option>
                                        </select>
                                        <div class="icon"></div>
                                    </div>
                                </li>
                                <li>
                                    <label>Miejsce oddania</label>
                                    <div class="input-text">
                                        <select name="children">
                                            <option value="0">Warszawa</option>
                                            <option value="1" selected="selected">Łódź</option>
                                            <option value="2">Gdańsk</option>
                                            <option value="3">Katowice</option>
                                        </select>
                                        <div class="icon"></div>
                                    </div>
                                </li>
                            </ul>

                            <button class="button-big" id="search"><div class="icon"></div>Sprawdź</button>
                        </form>
                    </div>
                </div>


                <div class="intro-lead-in">Największa wypożyczalnia w polsce!</div>
                <div class="intro-heading text-uppercase">Skorzystaj z naszej oferty</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Dowiedz się więcej</a>
            </div>


        </div>
        </div>
    </header>



{% endblock %}


{% block body %}




    <!-- Services -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">Najtaniej w kraju</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">Mobilność</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">Bezpieczeństwo</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Flota</h2>
                    <h3 class="section-subheading text-muted">Najciekawsze auta na rynku</h3>
                </div>
            </div>
            <div class="row">

                {% for Auto in Auta %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="/flota/{{ Auto.id }}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ asset('uploads/zdjecia_aut/' ~ Auto.image) }}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ Auto.name }}</h4>
                            <p class="text-muted">{{ Auto.descri }}</p>
                            <h1 class="text-muted">{{ Auto.price }} zł</h1>
                            <button class="btn btn-dark" onclick="window.location.href='/flota/{{ Auto.id }}'">Zobacz</button>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>


    <!-- About -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>




{% endblock %}