{% extends 'base.html.twig' %}


{% block title %} {{ Auta.name }} {% endblock %}


{% block body %}


    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" src="{{ asset('uploads/zdjecia_aut/' ~ Auta.image) }}" alt="">
                </div>

                <div class="col text-center">
                    <h2 class="section-heading text-uppercase">{{ Auta.name }}</h2>
                    <h3 class="section-subheading text-muted">{{ Auta.descri }}</h3>
                    <h3 class="section-heading">Kategoria: {{ Auta.cat }}</h3>
                    <h3 class="section-heading">Klasa cenowa: {{ Auta.klasa }}</h3>

                    <div class="row">
                        <div class="col text-danger">
                            <img src="{{ asset('img/icon/klimatyzacja.png') }}" style="float:left;"/>
                            <h5 class="section-heading ">Klimatyzacja</h5>
                        </div>

                        <div class="col text-danger">
                            <img src="{{ asset('img/icon/manual-icon.png') }}" style="float:left;"/>
                            <h5 class="section-heading ">Manualna</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-danger">
                            <img src="{{ asset('img/icon/oil-icon.png') }}" style="float:left;"/>
                            <h5 class="section-heading ">Benzyna</h5>
                        </div>

                        <div class="col text-danger">
                            <img src="{{ asset('img/icon/airbag.png') }}" style="float:left;"/>
                            <h5 class="section-heading ">Poduszki powietrzne</h5>
                        </div>
                    </div>
                </div>




            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col text-right">
                    <button class="btn btn-dark" onclick="window.location.href='/'">Zarezerwuj</button>
                    <button class="btn btn-dark" onclick="window.location.href='/flota'">Wróć do listy</button>

                </div>
            </div>

            <div class="row">

                <div class="col text-center">
                    <h2 class="section-heading text-left">Dlaczego akurat ten?</h2>
                    <h3 class="section-subheading text-muted text-left">{{ Auta.descri }}</h3>

                    <h6 class="text-left">{{ Auta.descrilong }}</h6>

                    <h6 class="section-subheading text-left text-muted" style="margin-top: 30px;">Zapraszamy do wypożyczalni samochodów CarNet w oddziałach: Białystok, Bielsko-Biała, Bydgoszcz, Częstochowa, Gdańsk, Gdynia, Kalisz, Katowice, Kielce, Koszalin, Kraków, Lubin, Lublin, Łódź, Olsztyn, Opole, Poznań, Rzeszów, Szczecin, Toruń, Wałbrzych, Warszawa, Wrocław, Zielona Góra
                    </h6>
                </div>

            </div>
        </div>
    </section>


    <!-- Clients -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>



{% endblock %}