{% extends 'base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block body %}

    <div class="container">
        <div class="panel-heading">
            <h3>Login</h3>
        </div>
        <div class="panel-body">
            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Nazwa:</label>
                    <input type="text" name="_username" id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Hasło:</label>
                    <input type="text" name="_password" id="password" class="form-control">
                </div>

                <button class="btn btn-info">Zaloguj</button>
            </form>

        </div>
    </div>


{% endblock %}
