{% extends 'base.html.twig' %}


{% block title %} Flota {% endblock %}


{% block body %}


    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                       <h3>Wybierz kategorię samochodu:</h3>
                        <button class="btn btn-outline-primary" onclick="window.location.href='/flota/osobowe'">Osobowe</button>
                        <button class="btn btn-outline-primary active"  onclick="window.location.href='/flota/automaty'">Automaty</button>
                        <button class="btn btn-outline-primary" onclick="window.location.href='/flota/van'">Van</button>
                        <button class="btn btn-outline-primary" onclick="window.location.href='/flota/dostawcze'">Dostawcze</button>

                    </div>
                    <div class="col-lg-12">
                        <h3>Wybierz klasę cenową: </h3>
                        <button class="btn btn-outline-primary">A</button>
                        <button class="btn btn-outline-primary">A+</button>
                        <button class="btn btn-outline-primary">B</button>
                        <button class="btn btn-outline-primary">B+</button>
                        <button class="btn btn-outline-primary">C</button>
                        <button class="btn btn-outline-primary">C+</button>
                        <button class="btn btn-outline-primary">Cross</button>
                        <button class="btn btn-outline-primary">Cross+</button>
                        <button class="btn btn-outline-primary">Minivan</button>


                    </div>
                </div>
                <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Flota</h2>
                    <h3 class="section-subheading text-muted">Auta automatyczne</h3>
                </div>
            </div>
            <div class="row">

                {% for Auto in Auta %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="/flota/{{ Auto.id }}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ asset('uploads/zdjecia_aut/' ~ Auto.image) }}" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ Auto.name }}</h4>
                            <p class="text-muted">{{ Auto.descri }}</p>
                            <h1 class="text-muted">{{ Auto.price }} zł</h1>

                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>


    <!-- Clients -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- Team -->
    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>





    {#<!-- Portfolio Modals -->#}

    {#<!-- Modal 1 -->#}
    {#<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">#}
        {#<div class="modal-dialog">#}
            {#<div class="modal-content">#}
                {#<div class="close-modal" data-dismiss="modal">#}
                    {#<div class="lr">#}
                        {#<div class="rl"></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="container">#}
                    {#<div class="row">#}
                        {#<div class="col-lg-8 mx-auto">#}
                            {#<div class="modal-body">#}
                                {#<!-- Project Details Go Here -->#}
                                {#<h2 class="text-uppercase">Project Name</h2>#}
                                {#<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>#}
                                {#<img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">#}
                                {#<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>#}
                                {#<ul class="list-inline">#}
                                    {#<li>Date: January 2017</li>#}
                                    {#<li>Client: Threads</li>#}
                                    {#<li>Category: Illustration</li>#}
                                {#</ul>#}
                                {#<button class="btn btn-primary" data-dismiss="modal" type="button">#}
                                    {#<i class="fa fa-times"></i>#}
                                    {#Close Project</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<!-- Modal 2 -->#}
    {#<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">#}
        {#<div class="modal-dialog">#}
            {#<div class="modal-content">#}
                {#<div class="close-modal" data-dismiss="modal">#}
                    {#<div class="lr">#}
                        {#<div class="rl"></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="container">#}
                    {#<div class="row">#}
                        {#<div class="col-lg-8 mx-auto">#}
                            {#<div class="modal-body">#}
                                {#<!-- Project Details Go Here -->#}
                                {#<h2 class="text-uppercase">Project Name</h2>#}
                                {#<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>#}
                                {#<img class="img-fluid d-block mx-auto" src="img/portfolio/02-full.jpg" alt="">#}
                                {#<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>#}
                                {#<ul class="list-inline">#}
                                    {#<li>Date: January 2017</li>#}
                                    {#<li>Client: Explore</li>#}
                                    {#<li>Category: Graphic Design</li>#}
                                {#</ul>#}
                                {#<button class="btn btn-primary" data-dismiss="modal" type="button">#}
                                    {#<i class="fa fa-times"></i>#}
                                    {#Close Project</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<!-- Modal 3 -->#}
    {#<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">#}
        {#<div class="modal-dialog">#}
            {#<div class="modal-content">#}
                {#<div class="close-modal" data-dismiss="modal">#}
                    {#<div class="lr">#}
                        {#<div class="rl"></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="container">#}
                    {#<div class="row">#}
                        {#<div class="col-lg-8 mx-auto">#}
                            {#<div class="modal-body">#}
                                {#<!-- Project Details Go Here -->#}
                                {#<h2 class="text-uppercase">Project Name</h2>#}
                                {#<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>#}
                                {#<img class="img-fluid d-block mx-auto" src="img/portfolio/03-full.jpg" alt="">#}
                                {#<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>#}
                                {#<ul class="list-inline">#}
                                    {#<li>Date: January 2017</li>#}
                                    {#<li>Client: Finish</li>#}
                                    {#<li>Category: Identity</li>#}
                                {#</ul>#}
                                {#<button class="btn btn-primary" data-dismiss="modal" type="button">#}
                                    {#<i class="fa fa-times"></i>#}
                                    {#Close Project</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<!-- Modal 4 -->#}
    {#<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">#}
        {#<div class="modal-dialog">#}
            {#<div class="modal-content">#}
                {#<div class="close-modal" data-dismiss="modal">#}
                    {#<div class="lr">#}
                        {#<div class="rl"></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="container">#}
                    {#<div class="row">#}
                        {#<div class="col-lg-8 mx-auto">#}
                            {#<div class="modal-body">#}
                                {#<!-- Project Details Go Here -->#}
                                {#<h2 class="text-uppercase">Project Name</h2>#}
                                {#<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>#}
                                {#<img class="img-fluid d-block mx-auto" src="img/portfolio/04-full.jpg" alt="">#}
                                {#<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>#}
                                {#<ul class="list-inline">#}
                                    {#<li>Date: January 2017</li>#}
                                    {#<li>Client: Lines</li>#}
                                    {#<li>Category: Branding</li>#}
                                {#</ul>#}
                                {#<button class="btn btn-primary" data-dismiss="modal" type="button">#}
                                    {#<i class="fa fa-times"></i>#}
                                    {#Close Project</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<!-- Modal 5 -->#}
    {#<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">#}
        {#<div class="modal-dialog">#}
            {#<div class="modal-content">#}
                {#<div class="close-modal" data-dismiss="modal">#}
                    {#<div class="lr">#}
                        {#<div class="rl"></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="container">#}
                    {#<div class="row">#}
                        {#<div class="col-lg-8 mx-auto">#}
                            {#<div class="modal-body">#}
                                {#<!-- Project Details Go Here -->#}
                                {#<h2 class="text-uppercase">Project Name</h2>#}
                                {#<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>#}
                                {#<img class="img-fluid d-block mx-auto" src="img/portfolio/05-full.jpg" alt="">#}
                                {#<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>#}
                                {#<ul class="list-inline">#}
                                    {#<li>Date: January 2017</li>#}
                                    {#<li>Client: Southwest</li>#}
                                    {#<li>Category: Website Design</li>#}
                                {#</ul>#}
                                {#<button class="btn btn-primary" data-dismiss="modal" type="button">#}
                                    {#<i class="fa fa-times"></i>#}
                                    {#Close Project</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<!-- Modal 6 -->#}
    {#<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">#}
        {#<div class="modal-dialog">#}
            {#<div class="modal-content">#}
                {#<div class="close-modal" data-dismiss="modal">#}
                    {#<div class="lr">#}
                        {#<div class="rl"></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="container">#}
                    {#<div class="row">#}
                        {#<div class="col-lg-8 mx-auto">#}
                            {#<div class="modal-body">#}
                                {#<!-- Project Details Go Here -->#}
                                {#<h2 class="text-uppercase">Project Name</h2>#}
                                {#<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>#}
                                {#<img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/06-full.jpg" alt="">#}
                                {#<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>#}
                                {#<ul class="list-inline">#}
                                    {#<li>Date: January 2017</li>#}
                                    {#<li>Client: Window</li>#}
                                    {#<li>Category: Photography</li>#}
                                {#</ul>#}
                                {#<button class="btn btn-primary" data-dismiss="modal" type="button">#}
                                    {#<i class="fa fa-times"></i>#}
                                    {#Close Project</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}




{% endblock %}