{% extends 'base.html.twig' %}


{% block title %} Dodawanie {% endblock %}


{% block body %}



    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Dodawanie aut</h2>
                    <h3 class="section-subheading text-muted">Dodane tutaj auta zostaną dodane do bazy danych</h3>
                </div>
            </div>
        </div>
    </section>


        <div class="container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
        </div>


    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Auta w bazie danych</h2>
                </div>
                <div class="col-lg-12 text-center" style="margin-bottom: 30px;">
                    Szukaj: <input style="form-control">
                </div>

            </div>


            <div id="table" class="row">

                {% for Auto in Auta %}
                    <div  class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="/flota/{{ Auto.id }}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" src="{{ asset('uploads/zdjecia_aut/' ~ Auto.image) }}" alt="">
                        </a>
                        <div  class="portfolio-caption">
                            <h4>{{ Auto.name }}</h4>
                            <p class="text-muted">{{ Auto.descri }}</p>

                            <button class="btn btn-dark" onclick="window.location.href='/flota/{{ Auto.id }}'">Zobacz</button>
                            <button class="btn btn-dark" onclick="window.location.href='/flota/edit/{{ Auto.id }}'">Edytuj</button>
                            <button class="btn btn-danger delete-auto"
                                    data-id="{{ Auto.id }}"
                                    >Usuń</button>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>




{% endblock %}

{% block javascripts %}

    <script src="{{ asset('build/js/app.js') }}"></script>
    <script src="{{ asset('build/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('build/js/jquery.min.js') }}"></script>
    <script src="{{ asset('build/js/jqBootstrapValidation.min.js') }}"></script>
    <script src="{{ asset('build/js/jquery.slim.min.js') }}"></script>
    <script src="{{ asset('build/js/jquery.easing.compatibility.js') }}"></script>
    <script src="{{ asset('build/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('build/js/agency.min.js') }}"></script>

    <script src="/js/main.js"></script>
{% endblock %}